#main-footer {
  background: #3c643c;
  color: #fff;
}
#page-header {
  height: 200;
  background: url("../assets/img/sky.jpg");
  background-position: 54% 96%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}
